<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

       <bean id="thPayOrderDao" class="com.tianzh.cm.repository.dao.ThPayOrderDaoImpl">
              <constructor-arg ref="sqlSessionFactory"/>
       </bean>

       <bean id="genUserTokenDao" class="com.tianzh.cm.repository.dao.GenUserTokenDaoImpl">
              <constructor-arg ref="sqlSessionFactory"/>
       </bean>
</beans>
